<!-- This is the header retreaved from the partials file.-->
<%- include partials/header.ejs %>
  
      <div class="container" style="height:405px;">
    
     <h3>Create your own online cloud based survey today!!!</h3>
     <p style="padding: 35px;">Welcome to Star Surveys</p>
        <b>Go ahead and register with star surveys and the exclusive</br> 
        features of star surveys with selecting your own survey template</br>
        and also build your own questionnaire.</b>
        
        <div class="container" style="padding-top:30px; text-align:center;">
             
        </div>
</div>

<!--Including the footer-->
<%- include partials/footer.ejs %>
</html>
